<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>com.todoist.mac.Todoist</string>
	<key>CFBundleIdentifier</key>
	<string>ptujec.LaunchBar.action.TodoistToday</string>
	<key>CFBundleName</key>
	<string>Todoist Today</string>
	<key>CFBundleVersion</key>
	<string>2021.2.2</string>
	<key>LBAssociatedApplication</key>
	<string>com.todoist.mac.Todoist</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Christian Bender</string>
		<key>LBEmail</key>
		<string>ptujec@me.com</string>
		<key>LBSummary</key>
		<string>Select Todoist and press space (⎵) or right arrow (→) to show the tasks for today. </string>
		<key>LBTwitter</key>
		<string>@ptujec</string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/Ptujec/LaunchBar</string>
	</dict>
	<key>LBRequiredApplication</key>
	<string>com.todoist.mac.Todoist</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
	</dict>
</dict>
</plist>
