<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>SpellTemplate.pdf</string>
	<key>CFBundleIdentifier</key>
	<string>ptujec.LaunchBar.action.spelltoggle</string>
	<key>CFBundleName</key>
	<string>Spelling Toggle</string>
	<key>CFBundleVersion</key>
	<string>2021-03</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Christian Bender</string>
		<key>LBEmail</key>
		<string>ptujec@me.com</string>
		<key>LBSummary</key>
		<string>This toggles checking spelling as you type. It works with most apps using standard UI elements. It works for both German and English UIs. It is not working for e.g. Word . </string>
		<key>LBTwitter</key>
		<string>@ptujec</string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/Ptujec/LaunchBar</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.applescript</string>
		</dict>
	</dict>
</dict>
</plist>
