<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>iconTemplate.png</string>
	<key>CFBundleIdentifier</key>
	<string>ptujec.LaunchBar.action.PasteHelper</string>
	<key>CFBundleName</key>
	<string>Zotero Paste Helper</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Christian Bender</string>
		<key>LBEmail</key>
		<string></string>
		<key>LBSummary</key>
		<string>Zotero Paste Helper is a companion action to Zotero Search V2 written in Swift that is not required but largely improves pasting rich text. It includes a fallback to Markdown for apps that can’t handle rich text. It needs to be compiled to run properly. You can use "Compile Swift Action" to do so.</string>
		<key>LBTwitter</key>
		<string></string>
		<key>LBUpdateURL</key>
		<string>https://raw.githubusercontent.com/Ptujec/LaunchBar/master/Zotero-Actions/Paste%20Helper.lbaction/Contents/Info.plist</string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/Ptujec/LaunchBar/tree/master/Zotero-Actions</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.swift</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>15.2</string>
</dict>
</plist>
