<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>SpellTemplate.pdf</string>
	<key>CFBundleIdentifier</key>
	<string>ptujec.LaunchBar.action.spellslo</string>
	<key>CFBundleName</key>
	<string>Spellcheck Slovenian</string>
	<key>CFBundleVersion</key>
	<string>4.1</string>
	<key>LBAbbreviation</key>
	<string>slo</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Christian Bender</string>
		<key>LBEmail</key>
		<string>ptujec@me.com</string>
		<key>LBTwitter</key>
		<string>@ptujec</string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/Ptujec/LaunchBar/tree/master/GUI-Scripting-Actions</string>
		<key>LBUpdateURL</key>
    <string>https://raw.githubusercontent.com/Ptujec/LaunchBar/master/GUI-Scripting-Actions/Spellcheck%20Slovenian.lbaction/Contents/Info.plist</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBScriptName</key>
			<string>spell_slo.applescript</string>
		</dict>
	</dict>
</dict>
</plist>
