<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>CopyActionTemplate</string>
	<key>CFBundleIdentifier</key>
	<string>ptujec.LaunchBar.action.Date</string>
	<key>CFBundleName</key>
	<string>Paste Date</string>
	<key>CFBundleVersion</key>
	<string>5.2</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Christian Bender</string>
		<key>LBEmail</key>
		<string>ptujec@me.com</string>
		<key>LBSummary</key>
		<string>⇧⏎ = Set default format, ⌥⏎ = Use alternate format
This action does two things:
1) Paste the current date in the frontmost window (yyyy-MM-dd format)
2) On hitting space you can enter days from now (e.g. "-3") or an upcoming weekday ("Sunday", "sun") to get the date for that.</string>
		<key>LBTwitter</key>
		<string>@ptujec</string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/Ptujec/LaunchBar/tree/master/Text-Actions#paste-date</string>
		<key>LBUpdateURL</key>
    <string>https://raw.githubusercontent.com/Ptujec/LaunchBar/master/Text-Actions/Date.lbaction/Contents/Info.plist</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
		<key>LBSuggestionsScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBLiveFeedbackEnabled</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>suggestions.js</string>
		</dict>
	</dict>
	<key>LBTextInputTitle</key>
	<string>Enter days from now (e.g. "-3") or weekday ("Sunday", "sun") </string>
</dict>
</plist>
