<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>icon.tiff</string>
	<key>CFBundleIdentifier</key>
	<string>ptujec.LaunchBar.action.SaveRaindrop</string>
	<key>CFBundleName</key>
	<string>Save Raindrop</string>
	<key>CFBundleVersion</key>
	<string>2021.4</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Christian Bender</string>
		<key>LBEmail</key>
		<string>ptujec@me.com</string>
		<key>LBSummary</key>
		<string>Press space to add tags (comma separated)

This action lets you save the current website in your browser to Raindrop.io. Press space before you hit return to add as many tags as you like (separated by commas). You can also hit return on the confirmation to see the entry in the Raindrop.io app (or webapp). 

Supported browsers: Safari, Brave, Chromium, Chrome, Edge, Vivaldi</string>
		<key>LBTwitter</key>
		<string>@ptujec</string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/Ptujec/LaunchBar</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
		<key>LBSuggestionsScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBLiveFeedbackEnabled</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>suggestions.js</string>
		</dict>
	</dict>
	<key>LBTextInputTitle</key>
	<string>Add Tags (comma seperated)</string>
</dict>
</plist>
