<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>app.soulver.mac</string>
	<key>CFBundleIdentifier</key>
	<string>ptujec.LaunchBar.action.CalculateWithSoulver</string>
	<key>CFBundleName</key>
	<string>Calculate with Soulver</string>
	<key>CFBundleVersion</key>
	<string>1.3.2</string>
	<key>LBAssociatedApplication</key>
	<string>app.soulver.mac</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Christian Bender</string>
		<key>LBEmail</key>
		<string>ptujec@me.com</string>
		<key>LBSummary</key>
		<string>⇧↩ = Settings; ⌘↩ = Open Entry in Soulver</string>
		<key>LBTwitter</key>
		<string>@ptujec</string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/Ptujec/LaunchBar/tree/master/Calculate-Soulver</string>
		<key>LBUpdateURL</key>
    <string>https://raw.githubusercontent.com/Ptujec/LaunchBar/master/Calculate-Soulver/Calculate%20with%20Soulver.lbaction/Contents/Info.plist</string>
	</dict>
	<key>LBRequiredApplication</key>
	<string>app.soulver.mac</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
		<key>LBSuggestionsScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBLiveFeedbackEnabled</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>suggestions.js</string>
		</dict>
	</dict>
</dict>
</plist>
