<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>icon</string>
	<key>CFBundleIdentifier</key>
	<string>ptujec.LaunchBar.action.Raindrops</string>
	<key>CFBundleName</key>
	<string>Raindrops</string>
	<key>CFBundleVersion</key>
	<string>4.3.1</string>
	<key>LBAssociatedApplication</key>
	<string>io.raindrop.macapp</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Christian Bender</string>
		<key>LBEmail</key>
		<string></string>
		<key>LBSummary</key>
		<string>⏎ = Browse recent items, Space = Search by tags (⇧⏎ = Search in URLs, ^⏎ = Search all text), ⌘⏎ = Open app</string>
		<key>LBTwitter</key>
		<string></string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/Ptujec/LaunchBar/tree/master/Raindrop-Actions#action-raindrops-browse-and-search-raindropio</string>
		<key>LBUpdateURL</key>
    <string>https://raw.githubusercontent.com/Ptujec/LaunchBar/master/Raindrop-Actions/Raindrops.lbaction/Contents/Info.plist</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBActionURLScript</key>
		<dict>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBScriptName</key>
			<string>actionUrl.js</string>
		</dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
		<key>LBSuggestionsScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBLiveFeedbackEnabled</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>suggestions.js</string>
		</dict>
	</dict>
	<key>LBTextInputTitle</key>
	<string>Search Raindrops</string>
</dict>
</plist>
