<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>nvALT Search</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>LBTextInputTitle</key>
	<string>Search nvALT</string>	
	<key>CFBundleIdentifier</key>
	<string>eu.ptujec.action.nvALTSearch</string>
	<key>CFBundleIconFile</key>
	<string>/Applications/nvALT.app/Contents/Resources/Notality.icns</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBScriptName</key>
			<string>nvALT.scpt</string>
			<key>LBRunInBackground</key>
			<false/>
			<key>LBRequiresArgument</key>
			<true/>
		</dict>
	</dict>
	<key>LBDescription</key>
	<dict>
		<key>LBSummary</key>
		<string>Its a simple action to search nvALT.</string>
		<key>LBAuthor</key>
		<string>Christian Bender</string>
		<key>LBTwitter</key>
		<string>@ptujec</string>
	</dict>
		<key>LBAssociatedApplication</key>
	<string>net.elasticthreads.nv</string>
</dict>
</plist>
