<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>z.png</string>
	<key>CFBundleIdentifier</key>
	<string>ptujec.LaunchBar.action.ShowAttachmentInZotero</string>
	<key>CFBundleName</key>
	<string>Show Attachment in Zotero</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Christian Bender</string>
		<key>LBEmail</key>
		<string>ptujec@me.com</string>
		<key>LBSummary</key>
		<string></string>
		<key>LBTwitter</key>
		<string>@ptujec</string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/Ptujec/LaunchBar/tree/master/Zotero-Actions#readme</string>
		<key>LBUpdateURL</key>
		<string>https://raw.githubusercontent.com/Ptujec/LaunchBar/master/Zotero-Actions/Show%20Attachment%20in%20Zotero.lbaction/Contents/Info.plist</string>
	</dict>
	<key>LBRequiredApplication</key>
	<string>org.zotero.zotero</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>path</string>
			</array>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
	</dict>
</dict>
</plist>
