<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Caffeinate</string>
	<key>CFBundleVersion</key>
	<string>1.1.1</string>
	<key>CFBundleIdentifier</key>
	<string>eu.ptujec.LaunchBar.action.Caffeinate</string>
	<key>CFBundleIconFile</key>
	<string>CoffeeTemplate</string>
	<key>LBTextInputTitle</key>
	<string>Activate for 10s; 1,5m; 2h …</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBScriptName</key>
			<string>Caffeinate.scpt</string>
			<key>LBRunInBackground</key>
			<true/>
		</dict>
	</dict>
	<key>LBDescription</key>
	<dict>
		<key>LBSummary</key>
		<string>This action launches and activates Caffeine.app to keep your Mac from going to sleep. If its running the action will quit the app so it won&apos;t take up space in your menubar. You can also activate Caffeine for a certain amount of time. Press spacebar. 1 = 1s. You can also enter minutes (e.g. 1,5m) or hours (e.g. 1h). Icon credits: http://www.aegeank.com/sketchactive/</string>
		<key>LBRequirements</key>
		<string>Requires Caffeine.app (free) http://lightheadsw.com/caffeine/.</string>
		<key>LBAuthor</key>
		<string>Christian Bender</string>
		<key>LBTwitter</key>
		<string>@ptujec</string>
	</dict>
		<key>LBAssociatedApplication</key>
	<string>com.lightheadsw.caffeine</string>
</dict>
</plist>
