<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>com.ideasoncanvas.mindnode.macos</string>
	<key>CFBundleIdentifier</key>
	<string>ptujec.LaunchBar.action.PasteMindnodeURLScheme</string>
	<key>CFBundleName</key>
	<string>Paste Link to Mindnode Document</string>
	<key>CFBundleVersion</key>
	<string>2025.1</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Christian Bender</string>
		<key>LBEmail</key>
		<string></string>
		<key>LBSummary</key>
		<string>This action pastes the title and URL of the selected Mindnode document, formatted as rich text or markdown, depending on the text field you are using. You can enter your own title by holding down the space bar. If you hold down the command key, only the simple link will be inserted.

Note: This action needs to be compiled! The Compile Swift Action can help with this.</string>
		<key>LBUpdateURL</key>
		<string>https://raw.githubusercontent.com/Ptujec/LaunchBar/refs/heads/master/URL-Scheme-Actions/Paste%20Mindnode%20URL%20Scheme.lbaction/Contents/Info.plist</string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/Ptujec/LaunchBar/tree/master/URL-Scheme-Actions#mindnode-ia-writer</string>
	</dict>
	<key>LBRequiredApplication</key>
	<string>com.ideasoncanvas.mindnode.macos</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>path</string>
			</array>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>string</string>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.swift</string>
		</dict>
	</dict>
</dict>
</plist>
