<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>com.ideasoncanvas.mindnode.macos</string>
	<key>CFBundleIdentifier</key>
	<string>ptujec.LaunchBar.action.MindnodeImportText</string>
	<key>CFBundleName</key>
	<string>Mindnode Import Text</string>
	<key>CFBundleVersion</key>
	<string>2021.1</string>
	<key>LBAssociatedApplication</key>
	<string>com.ideasoncanvas.mindnode.macos</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Christian Bender</string>
		<key>LBEmail</key>
		<string>ptujec@me.com</string>
		<key>LBSummary</key>
		<string>⏎ = Import text as is;  ⌥⏎ = Treat as Markdown; ⌘⏎ Make first line main node

This action is meant to send text to. It is associated with MindNode. So you can also send text directly to the app. 
Use the modifier keys listed above for options such as treating the input as markdown. </string>
		<key>LBTwitter</key>
		<string>@ptujec</string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/Ptujec/LaunchBar</string>
	</dict>
	<key>LBRequiredApplication</key>
	<string>com.ideasoncanvas.mindnode.macos</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
	</dict>
</dict>
</plist>
