<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Open in Google Chrome</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CFBundleIdentifier</key>
	<string>eu.ptujec.LaunchBar.action.OpeninGoogleChrome</string>
	<key>CFBundleIconFile</key>
	<string>SafariChromeTemplate</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBScriptName</key>
			<string>Open in Google Chrome.scpt</string>
			<key>LBRunInBackground</key>
			<true/>
		</dict>
	</dict>
	<key>LBDescription</key>
	<dict>
		<key>LBSummary</key>
		<string>Opens current Safari tab/window in Google Chrome. At the same time it closes the current tab/window in Safari. If there was just one tab, window it will also quit Safari alltogether.</string>
		<key>LBRequirements</key>
		<string>Requires an active internet connection.</string>
		<key>LBAuthor</key>
		<string>Christian Bender</string>
		<key>LBTwitter</key>
		<string>@ptujec</string>
	</dict>
</dict>
</plist>
