<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>iconTemplate.png</string>
	<key>CFBundleIdentifier</key>
	<string>ptujec.LaunchBar.action.QuitApplications</string>
	<key>CFBundleName</key>
	<string>Quit Applications (by Context)</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Christian Bender</string>
		<key>LBEmail</key>
		<string></string>
		<key>LBSummary</key>
		<string>Quits applications by context. (Edit: ⌥⏎)</string>
		<key>LBTwitter</key>
		<string></string>
		<key>LBUpdateURL</key>
		<string>https://raw.githubusercontent.com/Ptujec/LaunchBar/master/Quit-Applications/QuitApplications.lbaction/Contents/Info.plist</string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/Ptujec/LaunchBar/tree/master/Quit-Applications</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>https://github.com/Ptujec/LaunchBar/blob/master/LICENSE</string>
</dict>
</plist>
