<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Open in Firefox</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>CFBundleIdentifier</key>
	<string>eu.ptujec.LaunchBar.action.OpeninFirefox</string>
	<key>CFBundleIconFile</key>
	<string>BrowserFirefoxTemplate</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBScriptName</key>
			<string>Open in Firefox.scpt</string>
			<key>LBRunInBackground</key>
			<true/>
		</dict>
	</dict>
	<key>LBDescription</key>
	<dict>
		<key>LBSummary</key>
		<string>Opens current Safari or Google Chrome tab/window in Firefox. At the same time it closes the current tab/window in Safari or Google Chrome. If there was just one tab, window it will also quit the other browser alltogether. This is assuming you are not running both Safari and Chrome at the same time.
		Firefox icon by  Michael Maslaney (http://www.sketchappsources.com) </string>
		<key>LBRequirements</key>
		<string>Requires an active internet connection.</string>
		<key>LBAuthor</key>
		<string>Christian Bender</string>
		<key>LBTwitter</key>
		<string>@ptujec</string>
	</dict>
</dict>
</plist>
