<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>pl.maketheweb.cleanshotx</string>
	<key>CFBundleIdentifier</key>
	<string>ptujec.LaunchBar.action.CleanShotXFunctions</string>
	<key>CFBundleName</key>
	<string>CleanShot X Functions</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>LBAssociatedApplication</key>
	<string>pl.maketheweb.cleanshotx</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Christian Bender</string>
		<key>LBEmail</key>
		<string>ptujec@me.com</string>
		<key>LBTwitter</key>
		<string>@ptujec</string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/Ptujec/LaunchBar/tree/master/Cleanshot-X-Functions</string>
		<key>LBUpdateURL</key>
    <string>https://raw.githubusercontent.com/Ptujec/LaunchBar/master/Cleanshot-X-Functions/CleanShot%20X%20Functions.lbaction/Contents/Info.plist</string>
	</dict>
	<key>LBRequiredApplication</key>
	<string>pl.maketheweb.cleanshotx</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
	</dict>
</dict>
</plist>
