<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>com.OakTree.Accordance</string>
	<key>CFBundleIdentifier</key>
	<string>ptujec.LaunchBar.action.AccVerses</string>
	<key>CFBundleName</key>
	<string>Accordance - Look up scripture</string>
	<key>CFBundleVersion</key>
	<string>2021.3.1</string>
	<key>LBAssociatedApplication</key>
	<string>com.OakTree.Accordance</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Christian Bender</string>
		<key>LBEmail</key>
		<string>ptujec@me.com</string>
		<key>LBSummary</key>
		<string>⏎ = Smart option ⌘⏎ = Look up in default translation only, ⌥⏎ = Look up in research window

This action is associated with Accordance. So you can run it by pressing space when the app is selected.
</string>
		<key>LBTwitter</key>
		<string>@ptujec</string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/Ptujec/LaunchBar</string>
	</dict>
	<key>LBRequiredApplication</key>
	<string>com.OakTree.Accordance</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
	</dict>
	<key>LBTextInputTitle</key>
	<string>Open Scripture in Accordance</string>
</dict>
</plist>
