<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>com.apple.mail</string>
	<key>CFBundleIdentifier</key>
	<string>ptujec.LaunchBar.action.PasteMailURLScheme</string>
	<key>CFBundleName</key>
	<string>Paste Link to Mail</string>
	<key>CFBundleVersion</key>
	<string>4.1</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Christian Bender</string>
		<key>LBEmail</key>
		<string></string>
		<key>LBSummary</key>
		<string>⌘⏎ = Paste URL only, Space = Custom Title

The action creates a formatted link to an open or selected email. A rich text and markdown version is saved and inserted by the system depending on the target.

This action includes a Swift script that should be compiled for best performance. You can use my Compile Swift Action for that.</string>
		<key>LBUpdateURL</key>
		<string>https://raw.githubusercontent.com/Ptujec/LaunchBar/master/URL-Scheme-Actions/Paste%20Mail%20URL%20Scheme.lbaction/Contents/Info.plist</string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/Ptujec/LaunchBar/tree/master/URL-Scheme-Actions#mail</string>
	</dict>
	<key>LBRequiredApplication</key>
	<string>com.apple.mail</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
	</dict>
	<key>LBTextInputTitle</key>
	<string>Custom Title</string>
</dict>
</plist>
