<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>Template.png</string>
	<key>CFBundleIdentifier</key>
	<string>ptujec.LaunchBar.action.Verbs</string>
	<key>CFBundleName</key>
	<string>Verbs</string>
	<key>CFBundleVersion</key>
	<string>1.2.1</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Christian Bender</string>
		<key>LBEmail</key>
		<string></string>
		<key>LBSummary</key>
		<string>English verb conjugation (https://www.theconjugator.com)</string>
		<key>LBTwitter</key>
		<string></string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/Ptujec/LaunchBar/tree/master/Verbs-Action</string>
		<key>LBUpdateURL</key>
    <string>https://raw.githubusercontent.com/Ptujec/LaunchBar/master/Verbs-Action/Verbs.lbaction/Contents/Info.plist</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
		<key>LBSuggestionsScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBLiveFeedbackEnabled</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>suggestions.js</string>
		</dict>
	</dict>
</dict>
</plist>
